<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form Major</title>
    <link rel="icon" type="image/png" th:href="@{/favicon-1.png}">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{elearning/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{elearning/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{elearning/lib/animate/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{elearning/lib/owlcarousel/assets/owl.carousel.min.css}">

    <!-- CSS to modify the bootstrap -->
    <link rel="stylesheet" th:href="@{stylesheet.css}">

    <!-- Icon Font Stylesheet -->
    <link type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css}"
          rel="stylesheet">
    <link type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}"
          rel="stylesheet">

</head>
<body>

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>ADD MAJOR</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="home" class="nav-item nav-link">Home</a>
            <a href="overviewStudent" class="nav-item nav-link">Students</a>
            <a href="overviewMajor" class="nav-item nav-link ">Majors</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" aria-expanded="false">IT Services</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="formStudent" class="dropdown-item">Add Student Form</a>
                    <a href="formMajor" class="dropdown-item active">Add Major Form</a>
                </div>
            </div>
            <a href="contact" class="nav-item nav-link" style="margin-right:1rem;">Contact</a>
        </div>
        <a href="login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Log In<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->

<form method="post" action="/addMajor" modelAttribute="major" style="height: 70vh;">
    <div style="margin:auto; width:60%; margin-top:3.5rem; margin-bottom:5rem;">


        <div
                style="display: flex; flex-direction: column; gap: 1.5rem;"
                class="formMajor__content"
        >
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Add a new major</h6>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Name" name="name" required
                       style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                <label for="name">Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="university" placeholder="University" name="university" required
                       style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                <label for="university">University</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="college" placeholder="College" name="college" required
                       style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                <label for="college">College</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="office" placeholder="Office" name="office" required
                       style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;">
                <label for="office">Office</label>
            </div>

        </div>
        <div class="formStudent__submit" style="margin-top: 2rem">
            <input
                    class="btn btn-primary py-4 px-lg-5 d-lg-block"
                    type="submit"
                    value="Add"
            />
            <button
                    class="btn btn-primary py-4 px-lg-5 d-lg-block btn--reset"
                    style="border-width: 1.5px; color: black"
            >
                Reset
            </button>
        </div>
    </div>
    </div>
</form>

<!-- Footer Start-->
<div class="footer">
    <div class="footer__documentation">
        <h3 class="text__gradient--bg">Documentation</h3>
        <a href="https://www.w3schools.com/html/">HTML</a>
        <a href="https://www.w3schools.com/css/">CSS</a>
        <a href="https://www.javascript.com">Javascript</a>
        <a href="https://spring.io/projects/spring-boot">Spring</a>
        <a href="https://start.spring.io/">Spring Initializr</a>
    </div>
    <div class="footer__contact">
        <h3 class="text__gradient--bg">Daniel</h3>
        <a href="https://www.facebook.com/danielflorin.tintea/">Facebook</a>
        <a href="https://www.instagram.com/tintea.daniel11/">Instagram</a>
        <a href="https://wa.me/40733122893">Whatsapp</a>
    </div>
    <div class="footer__contact">
        <h3 class="text__gradient--bg">Robert</h3>
        <a href="https://www.facebook.com/Jordan163">Facebook</a>
        <a href="https://www.instagram.com/iordanrobert/">Instagram</a>
        <a href="https://wa.me/40726820916">Whatsapp</a>
    </div>
    <div class="footer__copyrights">
        <p>Project <a href="https://github.com/IordanRobert/PracticaIBM-SpringBoot">github</a></p>
        <p>site design / logo © <a href="https://themewagon.com/themes/elearning-free-bootstrap-5-css3-education-website-template/">themewagon</a></p>
        <p>Practica 2022 @ IBM Romania</p>
    </div>
</div>
<!-- Footer End -->

</body>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{elearning/js/main.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{elearning/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{elearning/lib/easing/easing.min.js}"></script>
<script th:src="@{elearning/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{elearning/lib/wow/wow.min.js}"></script>
<script>
const inputName = document.getElementById("name");
const inputUniversity = document.getElementById("university");
const inputCollege = document.getElementById("college");
const inputOffice = document.getElementById("office");
const btnReset = document.querySelector(".btn--reset");

btnReset.addEventListener("click", (e) => {
    e.preventDefault();
    inputName.value = "";
    inputUniversity.value = "";
    inputCollege.value = "";
    inputOffice.value = "";
})
</script>

</html>